body{
			
		
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: sans-serif;
    background-image: url(./image/bmi.jpg);
    background-size: 100% 100%;
    min-height: 100vh;
}
.BMI{
    
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: rgba(0,0,0,0.6);
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 15px #585858;
}
h2{
    font-size: 30px;
    font-weight: 600;
    color: white;
}
.text{
    text-align: left;
    margin-left: 150px;
    color: white;
}
#w, #h{
    color: white;
    text-align: left;
    font-size: 20px;
    font-weight: 200;
    outline: none;
    border: none;
    background: none;
    border-bottom: 1px solid #341f97;
    width: 200px;
}
    #w:focus, #h:focus{
        border-bottom: 2px solid #341f97;
        width: 300px;
        transition: 0.5s;
        color: white;
    }
    #result{
        color: #eeedf6;
    }
    #btn8{
        font-family: inherit;
        margin-top: 10px;
        border: none;
        color: rgb(255, 0, 0);
        background-color: #eeedf6;
        width: 150px;
        padding: 10px;
        border-radius: 30px;
        outline: none;
        cursor: pointer;
    }
    #btn8:hover{
    color: rgb(251, 251, 251);
    background-color: #585858;
    }
    #info{
        font-size: 12px;
        font-family: inherit;
        color: white;
    }



.logo img{
margin-top: 2%;
float: left;
width: 150px;
height: auto;
}
ul li.active a{
background-color: white;
color: black;
}

